.container-p-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-size: 25px;
    width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;

}
.first-img {
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 5%;

}
.first-text {
    text-align: center;
}
.first-text h2 {
    font-size: 30px;
}
.first a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 10px;
    font-size: 20px;
    margin-bottom: 5%;

}
.first {
    background: #e6e8e1;
    padding: 10px;
    width: 100%;
}
.container {
    width: 100%;
}
.img-container-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-bottom: 5%;
    width: 100%;

}
/* second */
.second {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.second a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 10px;
  font-size: 20px;
  margin-top: 5%;
  margin-bottom: 5%;


}
.second-text h2 {
  margin-top: 10%r;
}
.third a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 10px;
    font-size: 20px;
    margin-top: 5%;
    margin-bottom: 5%;
  
  }
  .third {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background: #e6e8e1;

  }


@media only screen and (max-width: 600px) {
    .container-p-div  {
      font-size: 16px;
      text-align: center;
      width: 100%;
    }
    .first {
        text-align: center;
        width: 100%;

    }
    .first-img {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    
    }
    .first img {
        width: 100%;
    }
    .img-container-2 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        position: relative;
        left: 10px;
        width: 100%;
    
    }
  }
  .thumbnail:hover {
    position:relative;
    top:-25px;
    left:-35px;
    width:500px;
    height:auto;
    display:block;
    z-index:999;
}