html {
    font-family: 'Work Sans', sans-serif;


}
/* nav */
nav {
    border-bottom: 1px solid #000000;
}
.header h3 {
    width: 100%;
    max-width: 245px;
    margin: 0 !important;
    padding: 0 !important;
    font-size: 35px;
    position: relative;
    top: 15px;
    left: 10px;
}
.header p {
    width: 100%;
    max-width: 150px;
    margin: 0 !important;
    padding: 0 !important;
    font-size: 20px;
    position: relative;
    top: 15px;
    left: 15px;
}

ul  {
    list-style-type: none;

}
ul li a:hover {
    color: #ff0000;
}
.nav-links {
    position: relative;
    right: 20px;
}

.nav-links ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
}
ul a {
    text-decoration: none;
    color: #000000;
    margin: 0 10px;

}
/* end of nav */

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: relative;
    top: 180px;
    left: 20px;
    width: 100%;
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.content-p {
    text-align: center;
    margin: 0 !important;
    padding: 0 !important;
    position: relative;
    top: 130px;
    font-size: 18px;
}
.content h2 {
    position: relative;
    top: 120px;
    font-size: 35px;
    margin: 0 !important;
    padding: 0 !important;
}
h3 a {
    text-decoration: none;
    color: #000000;
}
.find-me {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    
}
.find-me h2 {
    position: relative;
    top: 200px;
    left: 15px;
    text-align: center;
    font-size: 25px;
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: relative;
    left: 18px;
    top: 200px;
    font-size: 35px;
}
.icons i {
    margin: 0 10px;
}
.fa-github {
    color: #000000;
}
.fa-linkedin {
    color: #2877B5;
}
.fa-twitter {
    color: #39A2F2;
}
.fa-envelope {
    color: #8c8c99;
}
.fa-facebook {
  color: #4267B2;
}

/* Style the Image Used to Trigger the Modal */
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  #myImg:hover {opacity: 0.7;}
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content (Image) */
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  
  /* Caption of Modal Image (Image Text) - Same Width as the Image */
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  /* Add Animation - Zoom in the Modal */
  .modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }

@media only screen and (max-width: 600px) {
    .content h2 {
      font-size: 26px;
    }
  }