.packages-content h2 {
    text-align: center;
    margin-top: 5%;
}

.offers-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: auto;
    width: 100%;
    text-align: center;
}

.offer-1 {
    width: 100%;
    max-width: 400px;
    border: 1px solid #000;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 5%;
    margin-top: 5%;
    height: auto;
    background: #6a00ff;
    color: #fff;
}

.offer-2 {
    width: 100%;
    max-width: 400px;
    border: 1px solid #000;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 5%;
    height: auto;
    background: #6a00ff;
    color: #fff;
    margin: 10px;
}

.offer-3 {
    width: 100%;
    max-width: 400px;
    border: 1px solid #000;
    border-radius: 10px;
    padding: 10px;
    height: auto;
    background: #6a00ff;
    color: #fff;
}

.offers-list {
    line-height: 25px;
    padding: 5px;
    margin-top: 10%;
    border: 1px solid #000;
    background: #f2eec6;
    color: #3d3834;
}
.offers-list li {
    padding: 10px;
}
.offers-list span {
    color: #000000;
    font-weight: bold;
    font-size: 20px;
}
h3 {
    font-size: 30px;
}


@media only screen and (max-width: 600px) {
   
        .offers-container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
}