html {
    font-family: 'Raleway', sans-serif;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

.services-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}